body {
    font-family: Anaheim, sans-serif;
    height: 100%;
}

.Node {
    border-color: green;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 1em;
    padding: 0em;
    margin-top: 1em;
    height: 190px;
    width: 440px;
    background-color: #F0F0F0;
    position: relative;
}

.Node label {
    /*border: 1px solid gray;
    border-radius: 0.4em;
    padding: 0.1em 0.6em;
    font-size: 60%;*/
    color: #FF9090;
    font-weight: normal;
}

.Node .content {
    padding: 0.5em;
}

.Node .content .properties {
    font-size: 180%;
    font-weight: 700;
}

.Node .content .ingress {
    font-size: 120%;
}

.Node .content .warning {
    background: red;
    color: yellow;
}

.Node .content .power {
    color: gray;
}

.Node .content .voltage {
    color: blue;
}

.Node .content .current {
    color: green;
}

.Node .content .power:not(:empty)::after {
    content: 'W';
}

.Node .content .voltage:not(:empty)::after {
    content: 'V';
}

.Node .content .current:not(:empty)::after {
    content: 'A';
}

.Node .local {
    font-weight: bolder;
}

.Node .fa {
    color: gray;
}

.Node .heading {
    padding: 0.5em;
    border-radius: 0.9em 0.9em 0 0;
}

.Node .heading-ns {
    background-color: #fcb17e;
}

.Node .heading-ps {
    background-color: black;
    color: white;
}

.Node .kids {
    float: right;
    border-left: 1px dotted #D0D0D0;
    padding-left: 0.5em;
    text-align: right;
}

.Node .kids .kid {
    border-bottom: 1px dotted #D0D0D0;
    padding: 0.25em;
}

.Node .sum:before {
    content: "Σ";
}

.Node .heading .options {
    float: right;
    color: gray;
}

.Node .heading .options i {
    cursor: pointer;
}

.Node .heading .options i:hover {
    color: white;
}

.Node .name {
    width: 50%;
    margin: auto;
    /* border: 3px solid green; */
    font-weight: 700;
    text-align: ceter;
}

.Node .poes {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.4em;
}

.Node .poes .poe {
    border-bottom: 4px solid gray;
    border-top: 1px dotted gray;
    padding: 0.3em;
    margin: 1em;
    /* width: 70px; */
    /* display: inline; */
}

#footer {
    margin: 4em;
    padding: 0.2em;
    border-top: 1px solid #E0E0E0;
    color: gray;
}

#player button {
    width: 6em;
    font-size: 60%;
}